/*
*    Error dialog
*/

div.error-overlay {
  background-color: rgba(0,0,0,.25);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
}
div.error-overlay > div.error-wrapper {
  align-self: center;
  background-color: rgba(0,0,0,.25);
  border-radius: 2px;
  padding: 6px;
  width: 450px;
}    
div.error-overlay > div.error-wrapper > div.error-content {
  background-color: rgb(255,255,255);
  border-radius: 2px;
  padding: 24px;    
  position: relative;
}        
div.error-overlay > div.error-wrapper > div.error-content > h3 {
  color: rgb(0,0,0);
  font-family: 'Varela Round', sans-serif;
  font-size: 1.8em;
  margin: 0 0 1.25em;
  padding: 0;
}

fieldset {
  padding: 1em;
}

#errorlabel {
  color: rgb(0,0,0);
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: 1em;
  text-align: left;
}

#buttons {
  text-align: center;
}

#errorbutton {
  background-color: #50c1e9;
  border: 1px solid rgba(0,0,0,.1);
  color: rgb(255,255,255);
  font-family: 'Varela Round', sans-serif;
  font-size: .85em;
  margin-top: 10px;
  width: 100px;
  padding: .55em .9em;
  transition: all 400ms ease;    
}

#errorbutton:hover {
  background-color: #1bc5b3;
  cursor: pointer;
}
